@page
@using System.Globalization;
@using Microsoft.Extensions.Localization;
@using System.Threading;
@using Yen_Chiou_Antonio_Website.Resources;
@inject IStringLocalizer<SharedResource> localizer
@model Antonio_YenChiou.Pages.Shared._FAQPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="section-intro dark-background" id="faq-section">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/chat.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <h1>@localizer["faq_title"]</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-8 col-12">
            <p>@localizer["faq_text"]</p>
        </div>
    </div>
</section>
<section id="faq-section" class="accordion-section clearfix dark-background no-padding-top" aria-label="Question Accordions">
    <div class="container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            @localizer["faq_question1"]
                        </a>
                    </h3>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            @localizer["faq_answer1"]
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            @localizer["faq_question2"]
                        </a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            @Html.Raw(localizer["faq_answer2"])
                        </p>
                    </div>
                </div>
            </div>
            @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
            {
                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                @localizer["faq_question3"]
                            </a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body px-3 mb-4">
                            <p>
                                @localizer["faq_answer3"]
                        </div>
                    </div>
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            @localizer["faq_question4"]
                        </a>
                    </h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            @Html.Raw(localizer["faq_answer4"])

                    </p>
                </div>
            </div>
        </div>
        @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
        {
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse3">
                            @localizer["faq_question5"]
                        </a>
                    </h3>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            @localizer["faq_answer5"]
                        </p>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</section>
<section id="post-faq-section" class="clearfix dark-background no-padding-top no-padding-bottom">
    <div class="section-image row justify-content-center">
        <div class="col-lg-8 col-10">
            <p>@Html.Raw(localizer["contact"])
                
            </p>
        </div>
    </div>
</section>