@page
@using Microsoft.Extensions.Localization;
@using System.Threading;
@using Yen_Chiou_Antonio_Website.Resources;
@inject IStringLocalizer<SharedResource> localizer
@model Antonio_YenChiou.Pages.Shared._TimelinePartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section class="section-intro light-background" id="timeline-intro">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/pictures.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <h1>@localizer["timeline_title"]</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-8 col-12">
            <p>@localizer["timeline_text"]</p>
        </div>
    </div>
</section>
<div id="timeline-section" class="row timeline light-background">
    <div class="container">
        <!--Antonio Born 1986-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="antonio-young-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_1_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_1_date"]</div>
                <p>
                    @localizer["timeline_1_text1"]
                                <br />
                    @localizer["timeline_1_text2"]
                </p>
            </div>
        </div>

        <!--YC Born 1986-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div id="yenchiou-young-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_2_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_2_date"]</div>
                <p>@localizer["timeline_2_text"]</p>
            </div>
        </div>

        <!--YC Antonio Meet-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="yenchiou-antonio-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_3_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_3_date"]</div>
                <p>
                    @localizer["timeline_3_text1"]
                    <br />
                    @localizer["timeline_3_text2"]
                </p>
            </div>
        </div>

        <!-- Norway -->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="norway-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_4_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_4_date"]</div>
                <p>
                    @localizer["timeline_4_text"]</p>
            </div>
        </div>

        <!-- Together -->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div id="together-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_5_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_5_date"]</div>
                <p>@localizer["timeline_5_text"]</p>
            </div>
        </div>

        <!-- First Apartment-->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div id="apartment-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_6_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_6_date"]</div>
                <p>@localizer["timeline_6_text"]</p>
            </div>
        </div>

        <!-- Engaged -->
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div id="engaged-picture" class="timeline-img-header">
                    <h2>@localizer["timeline_7_title"]</h2>
                </div>
                <div class="date">@localizer["timeline_7_date"]</div>
                <p>@localizer["timeline_7_text"]</p>
            </div>
        </div>
    </div>
</div>