@page
@using Microsoft.Extensions.Localization;
@using System.Threading;
@using Yen_Chiou_Antonio_Website.Resources;
@inject IStringLocalizer<SharedResource> localizer
@model Antonio_YenChiou.Pages.Shared._VisitPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="visit-section" class="section-intro light-background no-padding-bottom">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/balloon.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <h1>@localizer["visit_title"]</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-8 col-12">
            <p>@localizer["visit_text"]</p>
        </div>
    </div>
</section>
<section class="no-padding-top light-background">
    <div class="section-image row justify-content-md-center">
        <div class="col-lg-10 col-12">
            <img class="lozad" style="width:100%" src="~/images/andalucia.jpg" />
        </div>
    </div>
</section>
<section id="visit-section" class="row justify-content-md-center no-padding-top light-background">
    <div class="col-lg-10 col-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 lozad" src="~/images/algarve.jpg" alt="castle">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@localizer["visit_1_title"]</h5>
                        <p>
                            @localizer["visit_1_text"]</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 lozad" src="~/images/horses.jpg" alt="horses">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@localizer["visit_2_title"]</h5>
                        <p>
                            @localizer["visit_2_text"]</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 lozad" src="~/images/sevilla.jpg" alt="horses">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@localizer["visit_3_title"]</h5>
                        <p>
                            @localizer["visit_3_text"]
                                               
                                            </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 lozad" src="~/images/granada.jpg" alt="horses">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@localizer["visit_4_title"]</h5>
                        <p>
                            @localizer["visit_4_text"]
                                              
                                            </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">@localizer["visit_prev"]</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">@localizer["visit_next"]</span>
            </a>
        </div>
    </div>
</section>