@page
@using Microsoft.Extensions.Localization;
@using System.Threading;
@using Yen_Chiou_Antonio_Website.Resources;
@inject IStringLocalizer<SharedResource> localizer
@model Antonio_YenChiou.Pages.Shared._WherePartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="where-section" class="section-intro dark-background">
    <div class="section-image row justify-content-md-center">
        <div class="col-12">
            <img class="svg-image small" src="~/images/svg/castle.svg" />
        </div>
    </div>
    <div class="section-title row justify-content-md-center">
        <div class="col-lg-6 col-12">
            <h1>@localizer["where_title"]</h1>
        </div>
    </div>
    <div class="section-text row justify-content-md-center">
        <div class="col-lg-8 col-12">
            <p>
                @localizer["where_text"]
            </p>
        </div>
    </div>
</section>

<section id="where-section-2" class="row justify-content-md-center dark-background no-padding-top">
    <div class="txt-grey info col-lg-3 col-md-10 col-12">
        <img class="svg-image" src="~/images/svg/crown.svg" />
        <h2>@localizer["where_history_title"]</h2>
        <p>@localizer["where_history_text"]</p>
    </div>
    <div class="txt-grey info col-lg-3 col-md-10 col-12">
        <img class="svg-image" src="~/images/svg/sailing-boat.svg" />
        <h2>@localizer["where_sailors_title"]</h2>
        <p>@localizer["where_sailors_text"]</p>
    </div>
    <div class="txt-grey info col-lg-3 col-md-10 col-12">
        <img class="svg-image" src="~/images/svg/ghost.svg" />
        <h2>@localizer["where_haunted_title"]</h2>
        <p>@Html.Raw(localizer["where_haunted_text"])</p>
    </div>
</section>
<section id="where-section-2" class="row justify-content-md-center dark-background no-padding-top">
    <div class="col-lg-10 col-12">
        <img class="lozad" style="width:100%" src="~/images/castle.jpg" />
    </div>
</section>
